cardic/.prettierrc
cardic/ClipartKey_166362-removebg-preview.png
cardic/ClipartKey_166362.png
cardic/ClipartKey_356255-removebg-preview.png
cardic/ClipartKey_356255.png
cardic/index.html
cardic/m.js
cardic/script.js
.vscode
jonas/pig.html
.vscode/settings.json

